/* GRADIENT */
/* #endquote {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background: linear-gradient(90deg, #ffc3c3, #f2cfff, #90cbdf, #d99adf);
    width: 350px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */

.text-on-image {
    position: absolute; /* Position the text absolutely inside the container */
    top: 50%; /* Position the text vertically at 50% from the top */
    left: 70%; /* Position the text horizontally at 50% from the left */
    transform: translate(-50%, -50%); /* Center the text using translate */
    color: white; /* Text color */
    font-size: 25px; /* Font size */
    font-weight: bold; /* Font weight */
    text-align: right; /* Text alignment */
}

.smalltext-on-image {
    position: absolute; /* Position the text absolutely inside the container */
    top: 70%; /* Position the text vertically at 50% from the top */
    left: 50%; /* Position the text horizontally at 50% from the left */
    transform: translate(-50%, -50%); /* Center the text using translate */
    color: white; /* Text color */
    font-size: 15px; /* Font size */
    font-weight: bold; /* Font weight */
    text-align: center; /* Text alignment */
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: -4px 0 0 0 ;
}
th,
td {
    display: flex;
    padding-top: 20px;
    justify-content: center;
    width: 100%; /* Set the width of th and td to 50% each */
    text-align: center; /* Optionally center align the content */
}

.gradient{ 
    height: 500px; 
    width: 100%;
}

.workContainer {
    text-align: center;
}

.workContainer h1 {
    margin: 3rem auto 1.2rem auto;
    font-size: 3rem;
    opacity: 0.2;
    color: rgba(170, 170, 170, 0.7);
}

#personalTitle {
    margin-top: 0rem;
    margin-bottom: 8rem;
}

#itemContainer {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    flex-direction: row;
    align-items: center;
}

#itemContainer p {
    text-align: left;
    color: #666666;
}

#workRows {
    gap: 2.75rem;
    grid-template-columns: 100%;
}

#workInfo {
    flex-grow: 1; /* Allow the text content to expand and fill available space */
    padding: 0 1rem; /* Add padding around text content for better spacing */
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0rem 5rem 0rem 7.5rem;

}

#itemContainer img {
    width: auto;
    height: 250px;
    border-radius: 0.625rem;
    margin: 35px 0 0 60px;
}

#labels {
    display: flex;
    gap: 0.375rem;
    margin: 0.5rem 0;
    flex-wrap: wrap;
    width: 100%;
}

#labels span {
    /* padding: 0.5rem 1rem; */
    /* background-color: #F4F4F4; */
    border-radius: 6.25rem;
}

#labels > span > p {
    font-size: 13px;
    color: #969696;
}

#workTitle {
    text-align: left;
    color: #202020;
    opacity: 1;
    transition: opacity 0.3s ease-in-out 0s;
}

#workTitle:hover {
    opacity: 0.5;
}

#workDate {
    color: #969696;
    margin-top: 0.5rem;
}

.smallBody {
    margin: 0rem;
}


@media only screen and (max-width: 896px) {
    .text-on-image {
        top: 70%; /* Position the text vertically at 50% from the top */
        left: 60%; /* Position the text horizontally at 50% from the left */
        transform: translate(-50%, -50%); /* Center the text using translate */
        color: white; /* Text color */
        width: 300px;
        font-size: 25px; /* Font size */
        font-weight: bold; /* Font weight */
        text-align: right; /* Text alignment */
    }

    .smalltext-on-image {
        top: 90%; 
    }

    #workInfo {
        flex-grow: 1; /* Allow the text content to expand and fill available space */
        padding: 0 1rem; /* Add padding around text content for better spacing */
        display: flex;
        flex-direction: column;    
        margin: 0;
        width: 30%;
    }
    .workContainer {
        margin: 0 1rem;
        flex-direction: row;
    }

    .gradient{ 
        height: 700px; 
        width: auto;
    }

    .workContainer h1 {
        text-align: center;
    }

    .itemContainer {
        display: flex;
        gap: 1rem;
        margin: 2rem 0 2rem 0;
        flex-direction: row;
        align-items: center; /* Align items vertically in the center */
    }

    #itemContainer {
        flex-direction: row;
    }

    #itemContainer img {
        width: auto;
        height: 140px;
        margin: 35px 0 0 0;
    }

 }